body{
    background:rgb(87, 87, 211);
    color: white;
    margin: auto;
    text-align: center;
}

.pente{
    align-content: center;
    margin:auto;
    padding: 5% 15%;
    width: 50%;
}

.gameBoard{
    display:grid;
}

.cell{
    background: white;
    padding: 4px;
}

.startButton{
    margin: 0 40%;
    text-align: center;
}